body,div,h1,h2,h3,span,ul,li {
    margin:0px;
    padding: 0px;
}
img {
    border: none;
}
body {
    text-align: center;
    background-color: #FAFAFA ;
}
.b-intro {
    height: 559px;
    min-width: 960px;
    background:  #0E7AD8 url(http://i1.ml.mi-img.com/img/miui/miuilite/img/intro_bg4.jpg) no-repeat 50% top;

}
.b-intro-con {
    width: 960px;
    height: 559px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.e-btn-download {
    position: absolute;
    display: inline-block;
    *display:  inline;
    *zoom: 1;
    left:179px;
    top: 258px;
    height: 55px;
    width: 158px;
    background: #66C200 url(http://i1.ml.mi-img.com/img/miui/miuilite/img/icon_download.png) no-repeat 12% 50%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #7DCB26;
    text-decoration: none;
    color: #fff;
    font-family: "microsoft yahei",simhei;
    font-size: 18px;
    line-height: 55px;
    text-indent: 45px;

}
.e-btn-download:hover {
    background-color: #2D7F00;
}
.e-download-size {
    font-size: 14px;
}
.e-btn-bbs {
    position: absolute;
    display: inline-block;
    *display:  inline;
    *zoom: 1;
    left:338px;
    top: 258px;
    height: 55px;
    width: 158px;
    background: #66C200 url(http://i1.ml.mi-img.com/img/miui/miuilite/img/icon_forum.png) no-repeat 12% 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-family: "microsoft yahei",simhei;;
    font-size: 18px;
    line-height: 55px;
    text-indent: 45px;
}
.e-btn-bbs:hover {
    background-color: #2D7F00;
}
.e-version {
    position: absolute;
    left: 178px;
    top: 320px;
    color: #ADD6E6;
    font-size: 16px;
    font-family: "microsoft yahei",simhei;
}
.e-2d {
    position: absolute;
    left: 43px;
    top: 257px;
    width: 112px;
}
.e-describe {
    position: absolute;
    left: 178px;
    top: 350px;
    color: #ADD6E6;
    font-family: "microsoft yahei",simhei;
    font-size: 12px;
}
.e-describe a {
    color: #ADD6E6;
}
.e-links {
    /*position:  absolute;*/
    /*left: 733px;*/
    /*top: 15px;*/
    float: right;
    margin-top: 15px;
    font-family: "microsoft yahei",simhei;
    font-size: 14px;
    margin-right: 35px;
}
.e-links a {
    color: #ADD6E6;
    text-decoration: none;
    margin-right: 16px;
    margin-right: 16px;
}
.e-links a:hover {
    text-decoration: underline;
}
.e-dash {
/*    position: absolute;
    top: 320px;
    left: 333px;*/
    line-height: 12px;
    width: 1px;
    height: 20px;
    border-right: 1px solid #29A6D1;
    margin-left: 3px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
}
.b-feature {
    overflow: hidden;
    width: 960px;
    margin: 55px auto 15px;
}
.b-feature .first-item {
    margin-left: 70px;
}
.b-item {
    width: 275px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 55px;
    float: left;
}
.e-feature-image {
    width: 107px;
}
.b-item h2 {
    font-size: 18px;
    font-family: "microsoft yahei",simhei;
    color: #313131;
    margin-top: 25px;
    margin-bottom: 5px;
}
.b-item h2 a {
    color: #000;
    text-decoration: none;
}
.b-item p {
    font-size: 12px;
    font-family: "microsoft yahei",simhei;
    color: #878787;
    margin: 0px;
    line-height: 150%;
}
.e-feature-more {
    vertical-align: middle;
    margin-left: 2px;
}
.e-dash-horizontal {
    border-bottom: 1px solid #E9E9E9;
    height: 1px;
    overflow: hidden;
}
.e-function-title {
    font-family: "microsoft yahei",simhei;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #3E3E3E;
}
.e-function-con {
    border: 1px solid #EDEDED;
    padding: 0px 30px;
    width: 240px;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 40px;
}
.e-function-con a {
    font-family: "microsoft yahei",simhei;
    text-decoration: none;
    display: block;
    float: left;
    color: #3F3F3F;
    width: 119px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
.e-function-con a:hover {
    text-decoration: underline;
}
.e-function-con a.first-item {
    border-right: 1px solid #ededed;
}
.e-link {
    overflow: hidden;
    list-style: none;
    width: 250px;
    margin: 25px auto;
}
.e-link li {
    float: left;
    margin-left: 20px;
}
.e-link li a {
    font-size: 12px;
    text-decoration: none;
    color: #979797;
    vertical-align: middle;
}
.e-link li a img {
    vertical-align: middle;
}
.e-link li a:hover {
    text-decoration: underline;
}
.b-compatible {
    overflow: hidden;
    width: 960px;
    margin: 33px auto 38px;
}
.left {
    float: left;
    overflow: hidden;
}
.right {
    float: right;
    overflow: hidden;
}
.b-compatible {
    position: relative;
}
.b-compatible .system {
    position: absolute;
    left: 0px;
    top: 0px;
    width:0px;
    height: 0px;
    overflow: hidden;
    line-height: 0px;
    font-size:0px;
}
.b-compatible h2 {
    text-align: left;
    font-size: 18px;
    font-family: "microsoft yahei",simhei;
    color: #313131;
    margin-bottom: 15px;
}
.b-compatible p {
    text-align: left;
    font-size: 12px;
    font-family: "microsoft yahei",simhei;
    color: #878787;
    margin: 0px;
    line-height: 180%;
}
.b-compatible .right {
    width: 195px;
}
.b-compatible .first-item  {
    margin-left: 157px;
    margin-right: 90px;
}
.b-compatible-con {
    width: 285px;
    overflow: hidden;
    float: left;
}
.e-tindex-18 {
    text-indent: -18px;
}