@import "bootstrap.css";

@import "bootstrap-responsive.css";
body ul {
  margin: 0px;
  padding: 0px;
}
.navbar-fixed-bottom {
  margin-bottom: 0px;
    position: fixed;
}
#aloo_date {
  width: 15%;
  position: fixed;
  top: 100px;
  left: 0px;
}
