.phone {
    float: left;
    margin-right: 10px;
}
.color-picker  {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fc0;
    cursor: pointer;
}
.b-infoBoard {
    background: url(../img/phone_info_board.png);
    overflow: hidden;
    width :260px;
    height: 462px;
    position: relative;
}
.e-icon-1 {
    position: absolute;
    top: 57px;
    left: 30px;
    width: 20px;

}
.e-icon-2 {
    position: absolute;
    top: 57px;
    left: 90px;
    width: 13px;
}
.e-icon-3 {
    position: absolute;
    top: 57px;
    left: 151px;
    width: 20px;

}
.e-icon-4 {
    position: absolute;
    top: 57px;
    left: 211px;
    width: 20px;

}
.e-icon-5 {
    position: absolute;
    top: 160px;
    left: 30px;
    width: 20px;

}
.e-icon-6 {
    position: absolute;
    top: 160px;
    left: 90px;
    width: 20px;
}
.e-icon-7 {
    position: absolute;
    top: 160px;
    left: 151px;
    width: 20px;

}
.e-icon-8 {
    position: absolute;
    top: 160px;
    left: 211px;
    width: 20px;

}
.e-icon-9 {
    position: absolute;
    top: 246px;
    left: 30px;
    width: 20px;

}
.e-icon-10 {
    position: absolute;
    top: 246px;
    left: 90px;
    width: 20px;
}
.e-icon-11 {
    position: absolute;
    top: 246px;
    left: 151px;
    width: 20px;

}
.e-icon-12 {
    position: absolute;
    top: 254px;
    left: 211px;
    width: 20px;

}
.e-icon-13 {
    position: absolute;
    width: 81px;
    top: 333.5px;
    left: 48px;
}

#b-cvas {
    width: 260px;
    height: 460px;
}